*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(39, 3, 3);
    font-family: 'Courier New', Courier, monospace;
    color: white;

}


img{
    border-radius: 50%;
    width: 100px;
    height:100px ;
    float: left;
    background-color: white;
}
nav{
    float:left;
    padding-left: 20px;


    
}
.container{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap:40px;  
    align-items: start;
    float: left;
    padding-left: 5%;
}
 a img{
    margin-left: 40px;

    width:30px;
    height: 30px;
    align-items: center;
    margin-top: 10px;
    display: flex;
}
.box{
    background color:black;
}

h3{
    color: blue;
    font-size: xx-large;
}
th{
    color: blue;
    font-size: xx-large;
}
td li{
    margin-left: 15px;
    list-style:none
    
}


